@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html > body {
	font-family: 'Pretendard-Regular';
	text-underline-position: under;
}

section > .container > div > div > a:hover {
	background-color: #00997B;
	color: #fff;
}

nav > div > div > a > img:hover {
	border: 2px solid var(--linkbrary-primary-color, #000);
 	border-radius: 15px;  
}

/* 기초대사량 계산기 컨테이너를 화면 가운데로 정렬하기 위한 스타일 */
.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
}